{

  "overrides": [
    // Configuration for TypeScript files
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["@typescript-eslint", "unused-imports"],
      "extends": [
        "airbnb-typescript",
        "next",
        "next/core-web-vitals",

      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
     
    }
  ]
}
